<h1>Ну здарова, ёпта</h1>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="самый лучший ящик@mail.com">
  <label for="floatingInput">Введите почту</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Введите пароль</label>
</div>