<div>
      <button type="button" class="btn btn-primary">Зайти с помощью VK</button>
      <button type="button" class="btn btn-dark">Зайти с помощью Google</button>
      <button type="button" class="btn btn-info">Зайти с помощью Twitter</button><br>
      <h1>hello</h1>

      </div>
          <canvas id="labelChart"></canvas>
